* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    padding: 3em 6em 6em 6em;
}

p {
    font-size: 15px;
    line-height: 2em;
}

/*Header Section*/

header {
    padding: 2em 0 2em 0;
    display: flex;
    justify-content: space-between;
}

.menu-icon {
    display: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

li {
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

li:hover {
    color: hsl(5, 85%, 63%);
}

/*Section*/

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-template-rows: 1fr 0.25fr 0.5fr;                    
    grid-template-areas: 
    "grid-1 grid-1 grid-2"
    "grid-3 grid-4 grid-2"
    "grid-5 grid-6 grid-7";
    gap: 1.5em 2em;
}


/*First Grid-Container*/

.cover {
    grid-area: grid-1;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./assets/images/image-web-3-desktop.jpg");
}

/*Second Grid-Container*/

.new {
    grid-area: grid-2;
    padding: 3em 2.5em;
    background-color: hsl(240, 100%, 5%);
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.new h2 {
    font-size: 3em;
    color: hsl(35, 77%, 62%);
}

.new hr {
    color: hsl(233, 8%, 79%);
}

.new h3 {
    font-size: 1.25em;
    color: hsl(36, 100%, 99%);
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.new h3:hover {
    color: hsl(35, 77%, 62%);
}

.new p {
    color: hsl(236, 35%, 81%);
}

/*Third Grid*/

.bright-future {
    padding-top: 0.5em;
    font-size: 1.75em;
    grid-area: grid-3;
}

.bright-future h1 {
    font-weight: 800;

}

/*Fourth Grid*/

.paragraph {
    padding-top: 1em;
    grid-area: grid-4;
    display: flex;
    flex-direction: column;
    gap: 4em;
}

button {
    border: none;
    font-weight: 600;
    letter-spacing: 0.25em;
    text-align: center;
    width: 50%;
    color: hsl(240, 100%, 5%);
    background-color: hsl(5, 85%, 63%);
    padding: 1em 1.5em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    color: white;
    background-color: hsl(240, 100%, 5%);
}

/*Third Row Styles*/

.three-containers {
    padding: 2em 0 2em 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "item-1 item-2";
    gap: 1em;
}

.image-container {
    grid-area: item-1;
}

.image-container img {
    height: 100%;
    width: 100%;
}

.second-container {
    grid-area: item-2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.second-container h2 {
    font-size: 2.5em;
    color: hsl(5, 85%, 63%);
}

.second-container h4 {
    font-size: 1.25em;
    font-weight: 800;
}

/*Fifth Grid*/

.retro-pc {
    grid-area: grid-5;
}

/*Sixth Grid*/

.top-10-laptops {
    grid-area: grid-6;
}

/*Seventh Grid*/

.gaming-growth {
    grid-area: grid-7;
}

/*Media Queries*/

@media (max-width: 768px) {
    body {
        background: red !important;
        padding: 1em 1em 4em 1em;
    }

    .menu-icon {
        display: inline-block;
    }
    .cover {
        background-image: url("./assets/images/image-web-3-mobile.jpg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    section {
        grid-template-columns: 1fr;
        grid-template-rows: 0.6fr 0.2fr 0.3fr 1fr 0.3fr 0.3fr 0.3fr;
        grid-template-areas: 
        "grid-1"
        "grid-2"
        "grid-3"
        "grid-4"
        "grid-5"
        "grid-6"
        "grid-7";
        gap: 2.5em;
    }

    header {
        position: relative;
    }

    .menu {
        overflow: hidden;
        display: none;
        padding-left: 2em;
        font-size: 1.25em;
        position: absolute;
        flex-direction: column;
        background-color: white;
        height: 100vh;
        width: 65vw;
        right: 0;
        top: 75%;
    }

    .menu.active {
        display: block;
    }

    .bright-future {
        grid-area: grid-2;
        padding: 0;
    }

    .new {
        grid-area: grid-4;
    }

    .paragraph {
        grid-area: grid-3;
        padding: 0;
    }

    .three-containers {
        padding: 0;
    }
}